{% extends "base.html" %}
{% block title %}data input page{% endblock %}
{% block content %}
<br>
<h1 class="text-center"> 파일 업로드 </h1>
<div class="container">
    <form action="/fileupload" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="Name" class="form-label">name</label>
          <input type="text" class="form-control" id="Name" name="Name" aria-describedby="nameHelp">
          <div id="nameHelp" class="form-text">please enter your first and last name</div>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
        <div class="mb-3">
          <label for="Pass" class="form-label">Password</label>
          <input type="password" class="form-control" id="Pass" name="Pass">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile" name="formFile">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}